conf/xml-resources/web-service-references/RdvWebService/wsdl/localhost_8080/RdvMedecin/RdvWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xsd:schema xmlns:tns="http://localhost:8080/RdvMedecin" xmlns:SP="http://localhost:8080/RdvMedecin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="http://localhost:8080/RdvMedecin">

<xsd:element name="cabinetMedical" type="tns:cabinetMedical"/>

<xsd:element name="createClientMethodRequest" type="tns:createClientMethodRequest"/>

<xsd:element name="createMedecin" type="tns:createMedecin"/>

<xsd:element name="createMedecinResponse" type="tns:createMedecinResponse"/>

<xsd:element name="createPatient" nillable="true" type="tns:createClientMethodRequest"/>

<xsd:element name="createPatientResponse" type="tns:createPatientResponse"/>

<xsd:element name="crenaux" type="tns:crenaux"/>

<xsd:element name="getCrenauxSpecialite" type="tns:getCrenauxSpecialite"/>

<xsd:element name="getCrenauxSpecialiteResponse" type="tns:getCrenauxSpecialiteResponse"/>

<xsd:element name="getPatientByNumeroSecu" type="tns:getPatientByNumeroSecu"/>

<xsd:element name="getPatientByNumeroSecuResponse" type="tns:getPatientByNumeroSecuResponse"/>

<xsd:element name="medecin" type="tns:medecin"/>

<xsd:element name="medecinCrenaux" type="tns:medecinCrenaux"/>

<xsd:element name="personne" type="tns:personne"/>

<xsd:element name="specialiteMed" type="tns:specialiteMed"/>

<xsd:element name="ville" type="tns:ville"/>

<xsd:complexType name="getPatientByNumeroSecu">
<xsd:sequence>
<xsd:element name="num_secu" type="xsd:int" form="unqualified" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="getPatientByNumeroSecuResponse">
<xsd:sequence>
<xsd:element name="return" type="tns:personne" form="unqualified" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="personne">
<xsd:sequence>
<xsd:element name="adresse" type="xsd:string" minOccurs="0"/>
<xsd:element name="dateNaissance" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="email" type="xsd:string" minOccurs="0"/>
<xsd:element name="nom" type="xsd:string" minOccurs="0"/>
<xsd:element name="numeroSecu" type="xsd:int" minOccurs="0"/>
<xsd:element name="prenom" type="xsd:string" minOccurs="0"/>
<xsd:element name="telephoneFixe" type="xsd:string" minOccurs="0"/>
<xsd:element name="telephonePortable" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="createMedecin">
<xsd:sequence>
<xsd:element name="nom" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="num_secu" type="xsd:int" form="unqualified" minOccurs="0"/>
<xsd:element name="adresse" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="email" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="telephone" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="code_postal" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="nom_cabinet" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="specialite" type="xsd:string" form="unqualified" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="createMedecinResponse">
<xsd:sequence>
<xsd:element name="result" type="xsd:string" form="unqualified" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="createClientMethodRequest">
<xsd:sequence>
<xsd:element name="adresse" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="code_postal" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="email" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="nom" type="xsd:string" form="unqualified" minOccurs="0"/>
<xsd:element name="num_secu" type="xsd:int" form="unqualified" minOccurs="0"/>
<xsd:element name="telephone" type="xsd:string" form="unqualified" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="createPatientResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:string" form="unqualified" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="getCrenauxSpecialite">
<xsd:sequence>
<xsd:element name="specialite" type="xsd:string" form="unqualified" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="getCrenauxSpecialiteResponse">
<xsd:sequence>
<xsd:element name="return" type="tns:medecinCrenaux" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="medecinCrenaux">
<xsd:sequence>
<xsd:element ref="tns:crenaux" minOccurs="0"/>
<xsd:element name="disponible" type="xsd:int"/>
<xsd:element ref="tns:medecin" minOccurs="0"/>
<xsd:element name="medecinCrenauxPK" type="tns:medecinCrenauxPK" minOccurs="0"/>
<xsd:element name="pris" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="crenaux">
<xsd:sequence>
<xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="heureDebut" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="heureFin" type="xsd:dateTime" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="medecin">
<xsd:sequence>
<xsd:element name="idcabinetMedical" type="tns:cabinetMedical" minOccurs="0"/>
<xsd:element name="idspecialiteMed" type="tns:specialiteMed" minOccurs="0"/>
<xsd:element name="numeroSecu" type="tns:personne" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="cabinetMedical">
<xsd:sequence>
<xsd:element name="adresseCabinet" type="xsd:string" minOccurs="0"/>
<xsd:element name="nomCabinet" type="xsd:string" minOccurs="0"/>
<xsd:element name="telephoneCabinet" type="xsd:string" minOccurs="0"/>
<xsd:element name="villeIdville" type="tns:ville" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ville">
<xsd:sequence>
<xsd:element name="villeNom" type="xsd:string" minOccurs="0"/>
<xsd:element name="villeCodePostal" type="xsd:string" minOccurs="0"/>
<xsd:element name="villeDepartement" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="specialiteMed">
<xsd:sequence>
<xsd:element name="libelle" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="medecinCrenauxPK">
<xsd:sequence>
<xsd:element name="idMedecin" type="xsd:int"/>
<xsd:element name="idcrenaux" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>