conf/xml-resources/web-service-references/RdvWebService/wsdl/localhost_8080/RdvMedecin/RdvWebService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://localhost:8080/RdvMedecin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost:8080/RdvMedecin">
<types>
<xsd:schema>
<xsd:import namespace="http://localhost:8080/RdvMedecin" schemaLocation="http://localhost:8080/RdvMedecin/RdvWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPatientByNumeroSecu">
<part name="parameters" element="tns:getPatientByNumeroSecu"/>
</message>
<message name="getPatientByNumeroSecuResponse">
<part name="parameters" element="tns:getPatientByNumeroSecuResponse"/>
</message>
<message name="getCrenauxSpecialite">
<part name="parameters" element="tns:getCrenauxSpecialite"/>
</message>
<message name="getCrenauxSpecialiteResponse">
<part name="parameters" element="tns:getCrenauxSpecialiteResponse"/>
</message>
<message name="createPatient">
<part name="parameters" element="tns:createPatient"/>
</message>
<message name="createPatientResponse">
<part name="parameters" element="tns:createPatientResponse"/>
</message>
<message name="createMedecin">
<part name="parameters" element="tns:createMedecin"/>
</message>
<message name="createMedecinResponse">
<part name="parameters" element="tns:createMedecinResponse"/>
</message>
<portType name="RdvMedecin">
<operation name="getPatientByNumeroSecu">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://localhost:8080/RdvMedecin/RdvMedecin/getPatientByNumeroSecuRequest" message="tns:getPatientByNumeroSecu"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://localhost:8080/RdvMedecin/RdvMedecin/getPatientByNumeroSecuResponse" message="tns:getPatientByNumeroSecuResponse"/>
</operation>
<operation name="getCrenauxSpecialite">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://localhost:8080/RdvMedecin/RdvMedecin/getCrenauxSpecialiteRequest" message="tns:getCrenauxSpecialite"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://localhost:8080/RdvMedecin/RdvMedecin/getCrenauxSpecialiteResponse" message="tns:getCrenauxSpecialiteResponse"/>
</operation>
<operation name="createPatient">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://localhost:8080/RdvMedecin/RdvMedecin/createPatientRequest" message="tns:createPatient"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://localhost:8080/RdvMedecin/RdvMedecin/createPatientResponse" message="tns:createPatientResponse"/>
</operation>
<operation name="createMedecin">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://localhost:8080/RdvMedecin/RdvMedecin/createMedecinRequest" message="tns:createMedecin"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://localhost:8080/RdvMedecin/RdvMedecin/createMedecinResponse" message="tns:createMedecinResponse"/>
</operation>
</portType>
</definitions>